*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(80, 60, 50, .6);
    flex-direction: column;
}

.searchBar{
    width: 300px;
    height: 40px;
    background-color: rgba(230, 250, 230, 0.8);
    margin-top: 30px;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 0 10px;
}

.suggestions{
    position: fixed;
    width: 320px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 75px;
    bottom: 10px;
}

.suggestions li{
    width: 260px;
    list-style: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;    
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.suggestions li:nth-child(even){
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%);
}

.suggestions li:nth-child(odd){
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%);
}

.population{
    font-size: 15px;
}

.hl{
    background: rgba(200, 100, 150, 0.6);
}